* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

::selection {
	background: #b8aaa9;
	text-shadow: none
}

a {
	color: #0088CC;
	text-decoration: none;
	outline: 0
}

a:hover {
	color: #005580
}

img {
	width: 81%;
    height: 68%;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

html {
	font-size: 100%
}

body {
	padding: 5%;
    font: 300 1.25em/1.6 monospace;
    background: #b8aaa9;
    }
